# Игнорирование виртуального окружения
.venv/
venv/

# Игнорирование файлов кэша Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорирование логов
*.log
*.tmp

# Игнорирование системных файлов
.DS_Store
Thumbs.db

# Игнорирование конфигураций IDE (например, VSCode, PyCharm)
.vscode/
.idea/

# Игнорирование базы данных SQLite
*.sqlite3
db.sqlite3

# Игнорирование статических файлов, если они генерируются
staticfiles/
static/

# Игнорирование медиафайлов (если не нужно сохранять их в репозитории)
media/

# Игнорирование файлов миграций Django (опционально)
**/migrations/*.py
!**/migrations/__init__.py

# Игнорирование файлов окружения и секретных данных
.env
*.env

# Игнорирование других временных файлов и сессий
*.bak
*.swp
